:root {
    --heading-font: "Gloock", serif;
    --para-font: "Poppins", sans-serif;
    --dark-green-color: #0e1913;
    --yellow-color: #f0e583;
    --white-color: #ffffff;
    --medium-white: #eee;
    --secondary-color: #f1efdd;
    --font-color: #000000;
    --medium-black: #222;
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --normal: 400;
    --section-padding: 10vw 0;
    --within-section-padding: 7vw 0;
}

@media only screen and (max-width: 1280px) {
    .hero_section {
        display: flex;
    }

    .order_here_pill a {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 1024px) {
    .hero_section_wrapper {
        flex-direction: column;
    }

    .hero_left {
        position: static;
    }

    .hero_right {
        width: 100%;
        height: 35vw;
        bottom: 0% !important;
        top: auto;
    }

    .hero_right_marque_container {
        width: 100%;
        height: 100%;
    }

    .marquee_img_vertical {
        display: none;
    }

    .marquee_img_horizontal {
        display: flex;
        height: 100%;
    }

    @keyframes scrollLeft {
        0% {
            transform: translateX(260%);
        }

        100% {
            transform: translateX(-260%);
        }
    }

    .brand_logo {
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .brand_logo img {
        width: 25%;
    }

    .pattern2 {
        left: -150px;
    }

    .hero_left {
        height: 70%;
        width: 100%;
    }

    .hero_title {
        width: 100%;
        font-size: 5vw;
        text-align: center;
        padding-top: 10vw;
    }

    .hero_para {
        font-size: 2.8vw;
        margin: 0 auto;
        text-align: center;
    }

    .order_here_pill {
        width: auto;
        padding: 0.7vw 3vw;
        border-radius: 3vw;
        margin: 0 auto;
    }

    .pattern1 {
        position: absolute;
        right: -8%;
        top: 35%;
        bottom: auto;
        width: 35%;
    }

    .order_here_pill a {
        font-size: 2.5vw;
    }

    .second_section_title {
        margin: 0 auto;
        text-align: center;
        font-size: 4vw;
    }

    .arrows_container {
        display: none;
    }

    .second_section_pill_container {
        justify-content: center;
        align-items: center;
    }

    .pill {
        width: auto;
        height: auto;
        font-size: 2.5vw;
        padding: 1vw 3vw;
    }

    .service_box_left img {
        width: 100%;
    }

    .service_box_right_title {
        font-size: 2.5vw;
        line-height: 1.4;
    }

    .service_box_menu_top p {
        font-size: 2vw;
    }

    .service_box_menu {
        padding-bottom: 8.5vw;
    }

    .service_box_menu_bottom {
        height: 6.5vw;
    }

    .service_box_menu_bottom a {
        font-size: 2vw;
    }

    .pattern3 {
        position: absolute;
        top: -5%;
        left: -2%;
        width: 15vw;
    }

    .queries {
        font-size: 2.5vw;
    }

    .third_section_title {
        font-size: 4vw;
    }

    .third_section_para {
        font-size: 2.5vw;
        padding-bottom: 3vw;
        font-family: var(--para-font);
        width: 50%;
        text-align: center;
        line-height: 1.2;
    }

    .location {
        width: 8vw;
        height: 8vw;
    }

    .location_name {
        font-size: 2.5vw;
    }

    .third_section_wrapper {
        padding: 5vw 0;
    }

    .meal_tracker {
        left: 2%;
    }

    .fourth_section_heading_and_para {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 5vw;
    }

    .fourth_section_heading {
        font-size: 4vw;
    }

    .fourth_section_para {
        font-size: 2.5vw;
        padding-top: 15px;
        width: 60%;
        text-align: center;
    }

    .fourth_section_box {
        width: 45%;
    }

    .fourth_section_box {
        width: 47.8%;
        margin-bottom: 0;
    }

    .fourth_section_box:hover {
        transform: translateY(0);
    }

    .box_title {
        width: 60%;
        font-size: 2.5vw;
    }

    .box_para {
        font-size: 1.5vw;
        width: 80%;
    }

    .fifth_section_wrapper {
        flex-direction: column;
        gap: 5vw;
    }

    .fifth_left {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5vw;
    }

    .fifth_section_heading {
        font-size: 4vw;
        width: 100%;
        font-weight: var(--normal);
        text-align: center;
    }

    .fifth_right {
        width: 100%;
    }

    .fifth_section_box {
        width: 48.5%;
    }

    .fifth_section_box {
        height: 40vw;
        padding: 2vw 4vw;
    }

    .fifth_box_title {
        font-size: 3vw;
    }

    .fifth_box_para {
        font-size: 2vw;
    }

    .sixth_upper_container {
        flex-direction: column;
    }

    .sixth_section_title {
        width: 60%;
        font-size: 4vw;
        text-align: center;
        font-weight: var(--normal);
        padding-bottom: 2vw;
    }

    .sixth_section_para {
        width: 60%;
        font-size: 2.5vw;
    }

    .sixth_lower_container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .sixth_lower_container_box {
        width: 43.5vw;
        height: 45vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sixth_lower_box_image {
        width: 10vw;
        height: 10vw;
    }

    .sixth_lower_box_title {
        font-size: 2.5vw;
        width: 60%;
        text-align: center;
        padding: 2vw 0;
    }

    .sixth_lower_box_para {
        font-size: 2vw;
        font-weight: var(--normal);
        font-family: var(--para-font);
        line-height: 1.3;
        text-align: center;
        padding: 0 2vw;
    }

    .seventh_section_wrapper {
        flex-direction: column;
        gap: 3vw;
    }

    .seventh_left {
        width: 100%;
        height: 50vw;
        border-radius: 5vw;
    }

    .seventh_right {
        width: 100%;
        padding-top: 18vw;
        gap: 2vw;
    }

    .seventh_right_image {
        width: 20vw;
        height: 20vw;
    }

    .seventh_right_title {
        font-size: 3.6vw;
    }

    .seventh_right_para {
        font-size: 2.2vw;
    }

    .testimonial_title {
        font-size: 3.6vw;
    }

    .testimonial_box {
        width: 40vw;
    }

    .seventh_quotes {
        font-size: 2vw;
    }

    .testimonial_box span {
        font-size: 4vw;
    }

    .testimonial_box address {
        font-size: 2vw;
    }

    .faq_title {
        font-size: 4vw;
    }

    .faq_question-text h3 {
        font-size: 3vw;
    }

    .answer p {
        font-size: 2vw;
    }

    .logo {
        width: 20vw;
    }

    .footer_upper_left_para {
        font-size: 1.8vw;
        width: 70%;
        padding-top: 2vw;
    }

    .footer_time_opening {
        font-size: 3vw;
    }

    .time {
        font-size: 1.8vw;
        width: 40%;
    }

    .footer_time_box {
        gap: 0;
    }

    .footer_middle_title {
        font-size: 2.5vw;
    }

    .footer_link {
        font-size: 1.8vw;
    }

    .footer_middle_center {
        padding-left: 5.5vw;
    }

    .copyright {
        font-size: 1.3vw;
    }

    .made_by {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 768px) {
    .pattern2 {
        left: -130px;
    }

    .brand_logo img {
        width: 30%;
    }

    .pattern1 {
        top: 48%;
    }

    .hero_title {
        font-size: 7vw;
    }

    .hero_right {
        height: 40vw;
    }

    .hw_img_h {
        width: 35vw;
        height: 35vw;
    }

    @keyframes scrollLeft {
        0% {
            transform: translateX(290%);
        }

        100% {
            transform: translateX(-290%);
        }
    }

    .hero_para {
        width: 75%;
        font-size: 3.2vw;
        padding-top: 20px;
    }

    .order_here_pill a {
        font-size: 3.5vw;
    }

    .order_here_pill {
        padding: 0.7vw 5vw;
        border-radius: 5vw;
    }

    .hero_left {
        justify-content: end;
        height: 65%;
    }

    .second_section_title {
        width: 100%;
        font-size: 5vw;
    }

    .pill {
        font-size: 3.5vw;
    }

    .service_box_right {
        position: static;
        width: 110%;
        position: relative;
        left: -31px;
        height: 48vw;
        top: auto;
        bottom: -31px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3vw;
        border-bottom-left-radius: 2.7vw;
    }

    .service_box_left {
        width: 100%;
    }

    .service_box_left img {
        width: 70%;
    }

    .service_box_right_title {
        font-size: 3.5vw;
        text-align: center;
        line-height: 1.3;
        padding-bottom: 3vw;
    }

    .service_box_menu {
        padding-bottom: 9.5vw;
    }

    .service_box_menu_top p {
        font-size: 3vw;
    }

    .service_box_menu_bottom a {
        font-size: 3vw;
    }

    .service_box_menu_bottom {
        height: 7.5vw;
    }

    .queries {
        font-size: 3.5vw;
    }

    .third_section_wrapper {
        padding: 6vw 0;
        padding-top: 42vw;
    }

    .meal_tracker {
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vw;
    }

    .third_section_title {
        font-size: 5vw;
    }

    .third_section_para {
        font-size: 3.5vw;
        padding-bottom: 5vw;
        width: 65%;
        line-height: 1.3;
    }

    .third_section_location_container {
        width: 70%;
    }

    .location_with_name {
        width: 30%;
    }

    .location {
        width: 10vw;
        height: 10vw;
    }

    .location_name {
        font-size: 3.5vw;
    }

    .fourth_section_heading {
        font-size: 5vw;
    }

    .fourth_section_para {
        font-size: 3.5vw;
        padding-top: 15px;
        width: 75%;
        text-align: center;
    }

    .fourth_section_box {
        width: 100%;
        /* margin-bottom: 3vw; */
    }

    .fourth_section_wrapper {
        gap: 3vw;
    }

    .box_title {
        width: 60%;
        font-size: 5vw;
    }

    .box_para {
        font-size: 3vw;
        width: 80%;
    }

    .fourth_section_captions {
        padding-bottom: 3vw;
    }

    .fifth_left {
        width: 80%;
    }

    .fifth_right {
        gap: 3vw;
    }

    .fifth_section_heading {
        font-size: 5vw;
    }

    .fifth_section_box {
        height: 60vw;
        padding: 4vw;
        width: 100%;
        gap: 2vw;
    }

    .fifth_section_image {
        width: 25%;
    }

    .fifth_box_title {
        font-size: 4vw;
    }

    .fifth_box_para {
        font-size: 3.5vw;
        width: 75%;
    }

    .sixth_section_title {
        width: 75%;
        font-size: 5vw;
    }

    .sixth_section_para {
        width: 75%;
        font-size: 3.5vw;
    }

    .sixth_lower_container_box {
        width: 100%;
        height: 50vw;
    }

    .sixth_lower_box_image {
        width: 15vw;
        height: 15vw;
    }

    .sixth_lower_box_title {
        font-size: 4vw;
    }

    .sixth_lower_box_para {
        font-size: 3vw;
        width: 80%;
    }

    .seventh_left {
        height: 80vw;
    }

    .seventh_right_image {
        width: 30vw;
        height: 30vw;
    }

    .seventh_right {
        padding-top: 28vw;
    }

    .seventh_right_title {
        font-size: 4.5vw;
    }

    .seventh_right_para {
        font-size: 2.8vw;
    }

    .testimonial_title {
        font-size: 4vw;
        padding-bottom: 5vw;
    }

    .testimonial_box {
        width: 60vw;
    }

    .seventh_quotes {
        font-size: 3vw;
    }

    .testimonial_box address {
        font-size: 3vw;
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-70%);
        }
    }

    .faq_title {
        font-size: 5vw;
    }

    .faq_question-text h3 {
        font-size: 4vw;
    }

    .answer p {
        font-size: 3vw;
    }

    .faq_container {
        margin-bottom: 2vw;
    }

    .ninth_section_wrapper {
        width: 90% !important;
    }

    .banner_content_title {
        width: 85%;
        font-size: 4.5vw;
    }

    .banner_content_para {
        font-size: 3vw;
        width: 80%;
    }

    .banner_anchor_container a {
        font-size: 3.5vw;
    }

    .banner_anchor_container {
        width: 50%;
        height: 8vw;
        font-size: 2vw;
    }

    .footer_upper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5vw;
    }

    .footer_upper_left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_upper_left_para {
        font-size: 2.5vw;
        width: 100%;
        padding-top: 2vw;
        text-align: center;
    }

    .logo {
        width: 30vw;
    }

    .footer_time_box {
        width: 100%;
        gap: 2vw;
    }

    .footer_time_opening {
        font-size: 3.5vw;
    }

    .time {
        font-size: 2.5vw;
        width: 40%;
    }

    .footer_middle {
        align-items: center;
        justify-content: center;
        gap: 5vw;
        flex-direction: column;
    }

    .foot_m {
        width: 40%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .footer_middle_title {
        font-size: 4vw;
        text-align: center;
    }

    .footer_link {
        font-size: 2.8vw;
        text-align: center;
    }

    .footer_middle_center {
        padding-left: 0;
    }

    .copyright {
        font-size: 2.2vw;
    }

    .made_by {
        font-size: 3vw;
        gap: 3vw;
    }

    .made_by img {
        width: 6vw;
        height: 6vw;
    }
}

@media only screen and (max-width: 450px) {

    .hero_section {
        height: 92vh;
    }

    .brand_logo img {
        width: 45%;
    }

    .brand_logo {
        top: 3%;
    }

    .hero_title {
        font-size: 8.4vw;
    }

    .hero_left {
        justify-content: end;
        height: 63%;
    }

    .hero_para {
        width: 100%;
        font-size: 4.5vw;
        padding-top: 20px;
    }

    .order_here_pill a {
        font-size: 4.5vw;
    }

    /* .pattern2 {
        width: 43%;
        left: 27.5%;
        top: 10%;
    } */

    .pattern2 {
        width: 55%;
        left: -17.5%;
        top: 15%;
    }

    .hero_right_marque_container {
        border: none;
    }

    .order_here_pill {
        padding: 2vw 10vw;
        border-radius: 5vw;
        margin-top: 3vw;
    }

    .hero_right {
        height: 62vw;
        /* bottom: 5% !important; */
    }

    .hw_img_h {
        width: 55vw;
        height: 55vw;
    }

    @keyframes scrollLeft {
        0% {
            transform: translateX(490%);
        }

        100% {
            transform: translateX(-490%);
        }
    }

    .second_section_title {
        width: 100%;
        font-size: 6vw;
        padding-bottom: 5vw;
    }

    .pill {
        font-size: 4.5vw;
        padding: 2vw 5vw;
        border-radius: 5vw;
    }

    .second_section_pill_container {
        gap: 5vw;
        padding-bottom: 10vw;
    }

    .service_box_left img {
        width: 100%;
        height: 85vw;
    }

    .service_box_right {
        height: 60vw;
    }

    .service_box_right {
        left: -17px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vw;
        gap: 2vw;
    }

    .service_box_right_title {
        width: 95%;
        font-size: 4.5vw;
    }

    .pattern3 {
        width: 25vw;
    }

    .service_box_menu_top p {
        font-size: 4vw;
        text-align: center;
    }

    .service_box_menu {
        padding-bottom: 11.5vw;
    }

    .service_box_menu_bottom {
        height: 9.5vw;
    }

    .service_box_menu_bottom a {
        font-size: 4vw;
    }

    .queries {
        font-size: 4.5vw;
        padding-top: 10vw;
    }

    .third_section_wrapper {
        padding: 10vw 0;
        padding-top: 70vw;
    }

    .third_section {
        background-color: var(--yellow-color);
        position: relative;
        margin: 5vw 0;
    }

    .third_section_title {
        font-size: 7vw;
        width: 60%;
        text-align: center;
        line-height: 1.4;
    }

    .third_section_para {
        font-size: 5vw;
    }

    .location {
        width: 13vw;
        height: 13vw;
    }

    .third_section_location_container {
        width: 85%;
    }

    .location_name {
        font-size: 4vw;
    }

    .fourth_section {
        padding: 15vw 0;
    }

    .fourth_section_heading {
        font-size: 6.5vw;
    }

    .fourth_section_para {
        font-size: 4.5vw;
        padding-top: 15px;
        width: 100%;
        text-align: center;
    }

    .fourth_section_wrapper {
        gap: 6vw;
    }

    .fifth_section {
        padding: 15vw 0;
    }

    .fifth_left {
        width: 100%;
    }

    .fifth_section_heading {
        font-size: 6.5vw;
        line-height: 1.4;
    }

    .fifth_section_box {
        height: 80vw;
    }

    .fifth_section_image {
        width: 30%;
    }

    .fifth_box_title {
        font-size: 6vw;
    }

    .fifth_box_para {
        font-size: 4.5vw;
        width: 75%;
    }

    .fifth_right {
        gap: 6vw;
    }

    .sixth_section_title {
        width: 75%;
        font-size: 6.5vw;
    }

    .sixth_section_para {
        width: 100%;
        font-size: 4.5vw;
    }

    .sixth_lower_container_box {
        width: 100%;
        height: 80vw;
    }

    .sixth_lower_box_image {
        width: 25vw;
        height: 25vw;
    }
    .sixth_lower_box_title {
        font-size: 6vw;
    }

    .sixth_lower_box_para {
        font-size: 4vw;
        width: 80%;
    }

    .sixth_lower_container {
        gap: 6vw;
    }


    .sixth_section {
        padding: 15vw 0;
    }

    .seventh_section {
        padding: 15vw 0;
    }

    .seventh_left {
        height: 100vw;
    }

    .seventh_right_image {
        width: 35vw;
        height: 35vw;
    }

    .seventh_right {
        padding-top: 32vw;
        gap: 5vw;
    }

    .seventh_right_title {
        font-size: 6.5vw;
        text-align: center;
    }


    .seventh_right_para {
        font-size: 3.5vw;
    }

    .seventh_testimonial {
        color: var(--white-color);
        padding-top: 10vw;
    }

    .testimonial_title {
        font-size: 6.5vw;
        padding-bottom: 7vw;
    }

    .testimonial_box {
        width: 75vw;
    }

    .testimonial_box span {
        font-size: 6vw;
    }

    .seventh_quotes {
        font-size: 4vw;
    }

    .testimonial_box address {
        font-size: 4vw;
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-80%);
        }
    }


    .eight_section {
        padding: 15vw 0;
    } 

    .faq_title {
        font-size: 6.5vw;
        padding-bottom: 5vw;
    }

    .faq_question-text h3 {
        font-size: 5vw;
        line-height: 1.4;
    }

    .answer p {
        font-size: 4vw;
        width: 100%;
    }

    .ninth_section {
        padding-bottom: 15vw;
    }

    .banner_content_title {
        width: 85%;
        font-size: 6vw;
    }

    .ninth_section_banner {
        height: 80vw;
    }

    .ninth_section_banner img {
        object-fit: cover;
        border-radius: 3vw;
    }

    .banner_content_para {
        font-size: 4vw;
        width: 80%;
    }

    .banner_anchor_container a {
        font-size: 4.5vw;
    }

    .banner_content {
        position: absolute;
        padding: 5vw;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .banner_anchor_container {
        width: 75%;
        height: 10vw;
    }

    .footer_section {
        padding: 15vw 0;
    }

    .logo {
        width: 40vw;
    }

    .footer_upper_left_para {
        font-size: 4vw;
        width: 100%;
        padding-top: 5vw;
    }

    .footer_upper_left {
        width: 90%;
    }

    .footer_upper_right {
        width: 100%;
    }

    .footer_time_opening {
        font-size: 5vw;
    }

    .timing_container {
        width: 80%;
        padding: 2vw;
    }

    .footer_time_box {
        gap: 4vw;
    }

    .time {
        font-size: 3.5vw;
        width: 100%;
    }

    .footer_upper {
        gap: 10vw;
    }

    .footer_middle {
        padding: 10vw 0;
        gap: 10vw;
    }

    .footer_middle_title {
        font-size: 6vw;
        text-align: center;
    }

    .footer_link {
        font-size: 4.5vw;
        text-align: center;
    }

    .foot_m {
        width: 90%;
    }

    .copyright {
        font-size: 3.2vw;
        padding-bottom: 5vw;
    }


    .made_by {
        font-size: 4vw;
        gap: 3vw;
        padding-top: 4vw;
    }


}

@media only screen and (max-width: 360px) {
    .service_box_right {
        left: -15px;
        width: 110.2%;
    }
}