@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --heading-font: "Gloock", serif;
    --para-font: "Poppins", sans-serif;
    --dark-green-color: #0e1913;
    --yellow-color: #f0e583;
    --white-color: #ffffff;
    --medium-white: #eee;
    --secondary-color: #f1efdd;
    --font-color: #000000;
    --medium-black: #222;
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --normal: 400;
    --section-padding: 10vw 0;
    --within-section-padding: 7vw 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gloock", serif;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-green-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    border-radius: 0.5rem;
}

body {
    overflow-x: hidden;
}

span {
    display: block;
}

a {
    text-decoration: none;
}

/* HERO SECTION STARTS **************************************************************************** */

.hero_section {
    padding: var(--section-padding);
    background-color: var(--dark-green-color);
    padding-top: 4vw;
    position: relative;
}

.section_wrapper {
    margin: 0 auto;
    width: 90%;
    display: flex;
}

.hero_left {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--within-section-padding);
}

.brand_logo {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 25%;
}

.brand_logo img {
    width: 100%;
    height: 100%;
}

.hero_title {
    width: 85%;
    padding-top: 5vw;
    text-align: start;
    font-family: var(--heading-font);
    font-weight: var(--normal);
    font-size: 4vw;
    color: var(--yellow-color);
}

.hero_lines {
    overflow: hidden;
}

.hero_lines span {
    display: block;
    transform: translateY(100px);
}

.hero_para {
    width: 70%;
    padding-top: 10px;
    font-size: 1.7vw;
    color: var(--secondary-color);
    font-family: var(--para-font);
    padding-bottom: 3vw;
}

.order_here_pill {
    width: 12vw;
    background-color: var(--yellow-color);
    padding: 0.7vw;
    color: var(--font-color);
    text-align: center;
    font-family: var(--para-font);
    border-radius: 2vw;
}

.order_here_pill a {
    font-family: var(--para-font);
    font-size: 1.2vw;
    font-weight: var(--semi-bold);
    color: var(--dark-green-color);
    font-weight: var(--bold);
}

.pattern1 {
    position: absolute;
    right: -50px;
    bottom: 0px;
    width: 35%;
}

.pattern1 img {
    width: 100%;
    height: 100%;
}

.pattern2 {
    position: absolute;
    left: -200px;
    top: 10%;
    width: 35%;
}

.pattern2 img {
    width: 100%;
    height: 100%;
}

.hero_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    background-color: var(--yellow-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_right_marque_container {
    width: 95%;
    height: 95%;
    border: 3px solid var(--dark-green-color);
    position: absolute;
    overflow: hidden;
}


.marquee_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: scrollUp 50s linear infinite;
}


.hw_img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    object-fit: cover;
    margin: 25px 0;
    border: 15px solid var(--dark-green-color);
}


@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-94%);
        /* Move up by half of the total height */
    }
}

.hero_img_1,.hero_img_6, .hero_img_8 {
    object-position: top;
}

.hero_img_5, .hero_img_14 {
    object-position: left;
}

/* HERO SECTION ENDS **************************************************************************** */