@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --heading-font: "Gloock", serif;
    --para-font: "Poppins", sans-serif;
    --dark-green-color: #0e1913;
    --yellow-color: #f0e583;
    --white-color: #ffffff;
    --medium-white: #eee;
    --secondary-color: #f1efdd;
    --font-color: #000000;
    --medium-black: #222;
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --normal: 400;
    --section-padding: 10vw 0;
    --within-section-padding: 7vw 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gloock", serif;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-green-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    border-radius: 0.5rem;
}

body {
    overflow-x: hidden;
}

span {
    display: block;
}

a {
    text-decoration: none;
}

/* HERO SECTION STARTS **************************************************************************** */

.hero_section {
    background-color: var(--dark-green-color);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.section_wrapper {
    margin: 0 auto;
    width: 90%;
    display: flex;
}


.hero_left {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--within-section-padding);
}

.brand_logo {
    position: absolute;
    left: 0%;
    top: 5%;
    width: 25%;
}

.brand_logo img {
    width: 100%;
    height: 100%;
}

.hero_title {
    width: 85%;
    padding-top: 7vw;
    text-align: start;
    font-family: var(--heading-font);
    font-weight: var(--normal);
    font-size: 4vw;
    color: var(--yellow-color);
}

.hero_lines {
    overflow: hidden;
}

.hero_lines span {
    display: block;
    transform: translateY(100px);
}

.hero_para {
    width: 70%;
    padding-top: 10px;
    font-size: 1.7vw;
    color: var(--secondary-color);
    font-family: var(--para-font);
    padding-bottom: 3vw;
}

.order_here_pill {
    width: 12vw;
    background-color: var(--yellow-color);
    padding: 0.7vw;
    color: var(--font-color);
    text-align: center;
    font-family: var(--para-font);
    border-radius: 2vw;
}

.order_here_pill a {
    font-family: var(--para-font);
    font-size: 1.2vw;
    font-weight: var(--semi-bold);
    color: var(--dark-green-color);
    font-weight: var(--bold);
}

.pattern1 {
    position: absolute;
    right: -100px;
    bottom: 0px;
    width: 35%;
}

.pattern1 img {
    width: 100%;
    height: 100%;
}

.pattern2 {
    position: absolute;
    left: -200px;
    top: 10%;
    width: 35%;
}

.pattern2 img {
    width: 100%;
    height: 100%;
}

.hero_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    height: 100vh;
    background-color: var(--yellow-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_right_marque_container {
    width: 95%;
    height: 95%;
    border: 3px solid var(--dark-green-color);
    position: absolute;
    overflow: hidden;
}


.marquee_img_vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: scrollUp 50s linear infinite;
}


.marquee_img_horizontal {
    display: none;
    justify-content: center;
    align-items: center;
    animation: scrollLeft 40s linear infinite;
}


.hw_img {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    object-fit: cover;
    margin: 25px 0;
    border: 15px solid var(--dark-green-color);
}

.hw_img_h {
    width: 30vw;
    height: 30vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 25px;
    border: 10px solid var(--dark-green-color);
}


@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-92%);
        /* Move up by half of the total height */
    }
}

.hero_img_1,.hero_img_6, .hero_img_8 {
    object-position: top;
}

.hero_img_5, .hero_img_14 {
    object-position: left;
}

/* HERO SECTION ENDS **************************************************************************** */


/* SECOND SECTION STARTS ********************************************************************** */

.second_section {
    padding: var(--section-padding);
    position: relative;
    overflow: hidden;
}

.second_section_wrapper {
    flex-direction: column;
}

.second_section_title {
    width: 80%;
    font-size: 3.5vw;
    font-weight: var(--normal);
    padding-bottom: 3vw;
}

.second_section_pill_container {
    width: 100%;
    display: flex;
    gap: 3vw;
    position: relative;
    padding-bottom: 7vw;
}

.pill {
    width: 15vw;
    height: 4vw;
    border-radius: 3vw;
    background-color: transparent;
    color: var(--dark-green-color);
    font-size: 2vw;
    cursor: pointer;
    transition: 0.6s;
    border: 1px solid var(--dark-green-color);
}

.pill:hover {
    background-color: var(--yellow-color);
    color: var(--font-color);
}

.arrows_container {
    position: absolute;
    right: 0%;
    top: 0%;
    display: flex;
    gap: 3vw;
}

.second_section_arrow {
    border: 2px solid var(--dark-green-color);
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
}

.second_section_arrow span {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-top: 2px solid var(--dark-green-color);
    border-left: 2px solid var(--dark-green-color);
}

.second_section_arrow:hover {
    background-color: var(--yellow-color);
    color: var(--font-color);
}

.prev {
    transform: rotate(-45deg);
}

.next {
    transform: rotate(135deg);
}

.services_box {
    width: 100%;
    height: 100%;
    background-color: var(--dark-green-color);
    padding: 4vw;
    border-radius: 3.2vw;
    position: relative;
}

.service_box_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.service_box_left img {
    padding-top: 2vw;
    width: 80%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(4px 4px 8px rgba(255,255,255,0.5));
}

.service_box_right {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3vw;
}

.service_box_right_title {
    font-size: 2vw;
    padding-bottom: 2vw;
}

.service_box_menu {
    width: 90%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    flex-direction: column;
    position: relative;
    padding-bottom: 6vw;
    margin: 0 auto;
}

.service_box_menu_top p {
    font-size: 1.7vw;
    font-family: var(--para-font);
    font-weight: var(--semi-bold);
}

.service_box_menu_bottom {
    position: absolute;
    bottom: 0;
    background-color: var(--font-color);
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_box_menu_bottom a {
    font-size: 1.8vw;
    color: var(--yellow-color);
    font-family: var(--para-font);
    font-weight: var(--bold);
}

.pill.active {
    background-color: var(--yellow-color);
}


/* Swiper-specific styles */
.swiper-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .swiper-wrapper {
    display: flex;
    /* gap: 10vw; */
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .queries {
    font-size: 1.8vw;
    padding-top: 3vw;
    text-align: center;
    font-family: var(--para-font);
  }

  .queries a {
    color: var(--dark-green-color);
    font-family: var(--para-font);
    text-decoration: underline;
  }

  .pattern3 {
    position: absolute;
    top: 0%;
    left: -2%;
    width: 14vw;
  }

  .pattern3 img {
    width: 100%;
    height: 100%;
  }

/* SECOND SECTION ENDS ********************************************************************** */


/* THIRD SECTION STARTS ********************************************************************** */

.third_section {
    background-color: var(--yellow-color);
    position: relative;
}

.meal_tracker {
    position: absolute;
    left: 5%;
    top: 25%;
}

.third_section_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw 0;
}

.third_section_title {
    font-size: 3vw;
    font-weight: var(--normal);
    padding-bottom: 10px;
}

.third_section_para {
    font-size: 1.6vw;
    padding-bottom: 3vw;
    font-family: var(--para-font);
}

.third_section_location_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.location_with_name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.location {
    width: 5vw;
    height: 5vw;
}

.location img {
    width: 100%;
    height: 100%;
}

.location_name {
    font-size: 1.5vw;
    font-family: var(--para-font);
    font-weight: var(--normal);
}

/* THIRD SECTION ENDS ********************************************************************** */



/* FOURTH SECTION STARTS ********************************************************************** */

.fourth_section {
    padding: var(--section-padding);
}

.fourth_section_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3vw;
}

.fourth_section_heading_and_para {
    width: 40%;
    
}

.fourth_section_heading {
    font-size: 3.5vw;
    font-weight: var(--normal);
}

.fourth_section_para {
    font-size: 1.6vw;
    font-weight: var(--normal);
    font-family: var(--para-font);
    padding-top: 10px;
}


.fourth_section_box {
    position: relative;
    width: 31%;
    margin-bottom: 3vw;
    transition: all 0.5s linear;
    cursor: pointer;
}

.fourth_section_box:hover {
    transform: translateY(-20px);
}

.fourth_section_image {
    width: 100%;
    height: 100%;
}

.fourth_section_image img {
    width: 100%;
    height: 100%;
}

.fourth_section_captions {
    position: absolute;
    bottom: 0;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_title {
    color: var(--medium-white);
    font-size: 1.8vw;
    font-weight: var(--normal);
    text-align: center;
    padding-bottom: 0.6vw;
    letter-spacing: 0.05vw;
}

.box_para {
    color: var(--medium-white);
    font-size: 1vw;
    font-weight: var(--normal);
    text-align: center;
    font-family: var(--para-font);
    line-height: 1.2;
}

/* FOURTH SECTION ENDS ********************************************************************** */


/* FIFTH SECTION STARTS ********************************************************************** */

.fifth_section {
    background-color: var(--secondary-color);
    padding: var(--section-padding);
}

.fifth_section_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fifth_left {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fifth_section_heading {
    font-size: 3vw;
    width: 70%;
    font-weight: var(--normal);
}

.fifth_right {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5vw;
}

.fifth_section_box {
    background-color: var(--yellow-color);
    padding:2vw;
    width: 47%;
    height: 25vw;
    border-radius: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.fifth_section_image {
    width: 35%;
}

.fifth_section_image img { 
    width: 100%;
    height: 100%;
}

.fifth_box_title {
    font-size: 1.8vw;
    font-family: var(--para-font);
    font-weight: var(--semi-bold);
}

.fifth_box_para {
    font-size: 1.25vw;
    font-family: var(--para-font);
    line-height: 1.3;
    text-align: center;
}

/* FIFTH SECTION ENDS ********************************************************************** */


/* SIXTH SECTION STARTS ********************************************************************** */


.sixth_section {
    padding: var(--section-padding);
}

.sixth_section_wrapper {
    display: flex;
    flex-direction: column;
}

.sixth_upper_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixth_section_title {
    width: 35%;
    font-size: 3vw;
    font-weight: var(--normal);
}

.sixth_section_para {
    width: 40%;
    font-size: 1.6vw;
    font-family: var(--para-font);
    line-height: 1.4;
    text-align: center;
}

.sixth_lower_container {
    padding: var(--within-section-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    padding-bottom: 0;
}

.sixth_lower_container_box {
    width: 25vw;
    border: 2px solid var(--yellow-color);
    padding: 3vw;
    border-radius: 2vw;
    height: 26vw;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.sixth_lower_box_image {
    width: 8vw;
    height: 8vw;
}

.sixth_lower_box_image img {
    width: 100%;
    height: 100%;
}

.sixth_lower_box_title {
    font-weight: var(--normal);
    font-size: 2vw;
    padding: 0.5vw 0;
}

.sixth_lower_box_para {
    font-size: 1.2vw;
    font-weight: var(--normal);
    font-family: var(--para-font);
    line-height: 1.2;
}

/* SIXTH SECTION ENDS ********************************************************************** */


/* SEVENTH SECTION STARTS ********************************************************************** */

.seventh_section {
    background-color: var(--dark-green-color);
    padding: var(--section-padding);
}

.seventh_section_wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.seventh_left {
    width: 50%;
    height: 45vw;
    border-radius: 5vw;
}

.seventh_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5vw;
}

.seventh_right {
    width: 50%;
    padding: 3vw;
    padding-left: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-top: 12vw;
}

.seventh_right_image {
    width: 15vw;
    height: 15vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2%;
}

.seventh_right_image img {
    width: 100%;
    height: 100%;
}

.seventh_right_title {
    color: var(--yellow-color);
    font-size: 2vw;
    font-weight: var(--normal);
}

.seventh_right_para {
    font-size: 1.2vw;
    color: var(--white-color);
    font-family: var(--para-font);
    text-align: center;
}

.seventh_testimonial {
    color: var(--white-color);
    padding-top: 5vw;
}

.testimonial_title {
    font-size: 2vw;
    letter-spacing: 0.1vw;
    font-weight: var(--normal);
    color: var(--yellow-color);
    padding-bottom: 2vw;
}

.testimonial_container {
    width: 100%;
}

.testimonial_marque {
    width: 100%;
    display: flex;
    gap: 50px;
    animation: scroll-left 30s linear infinite; /* Marquee animation */
  }

.testimonial_box {
    display: flex;
    flex-wrap: wrap;
    width: 35vw;
}

.testimonial_box span {
    font-size: 3vw;
    width: 5%;
}

.seventh_quotes {
    font-size: 1.5vw;
    width: 95%;
    padding-top: 2vw;
    font-weight: var(--normal);
    padding-left: 1vw;
}

.testimonial_box address {
    font-size: 1.5vw;
    font-weight: var(--normal);
    text-align: end;
    width: 100%;
}

@keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

/* SEVENTH SECTION ENDS ********************************************************************** */



/* EIGHT SECTION STARTS ********************************************************************** */

.eight_section {
    padding: var(--section-padding);
}


.faq_main_container {
    width: 100%;
    border-radius: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  
  .faq_wrappers {
    width: 100%;
    border-radius: 2vw;
  }
  

  .faq_title {
    font-size: 3vw;
    text-align: start;
    padding-bottom: 2vw;
    font-weight: var(--normal);
  }

  .faq_container {
    width: 100%;
  }
  
  
  .faq_question {
    font-size: 1vw;
    font-weight: lighter;
    padding: 1vw 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: var(--font-color);
    font-weight: 700;
  }
  
  .faq_container .active {
    color: var(--dark-green-color);
  }
  
  
  .answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .answer {
    padding: 0 10px 20px;
    line-height: 1.5rem;
   
  }
  
  .answer p {
    font-size: 1.3vw;
    width: 85%;
    color: var(--font-color);
    padding-left: 3vw;
    padding-top: 1.5vw;
    font-weight: var(--normal);
    font-family: var(--para-font);
    line-height: 1.6;
  }
  
  
  .fqa_headline_container h2 span {
    font-weight: var(--normal);
  }
  
  .faq_question-text h3 {
    font-size: 2.2vw;
    font-weight: var(--normal);
  }
  

/* EIGHT SECTION ENDS ********************************************************************** */


/* NINTH SECTION STARTS ********************************************************************** */

.ninth_section {
    padding: var(--section-padding);
}

.ninth_section_wrapper {
    width: 75% !important;
    margin: 0 auto;
}

.ninth_section_banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ninth_section_banner img {
    width: 100%;
    height: 100%;
}

.banner_content {
    position: absolute;
    padding: 5vw;
}

.banner_content_title {
    text-align: center;
    font-size: 3.5vw;
    font-weight: var(--normal);
    width: 70%;
    margin: 0 auto;
}

.banner_content_para {
    font-size: 2vw;
    text-align: center;
    font-family: var(--para-font);
    width: 60%;
    margin: 0 auto;
    padding: 2vw 0;
}


.banner_anchor_container {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    height: 5vw;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: var(--para-font);
}

.banner_anchor_container a {
    font-family: var(--para-font);
    font-weight: var(--semi-bold);
    color: var(--dark-green-color);
}

/* NINTH SECTION ENDS ********************************************************************** */


/* FOOTER SECTION STARTS ********************************************************************** */

.footer_section {
    padding: var(--section-padding);
    background-color: var(--dark-green-color);
}

.footer_wrapper {
    flex-wrap: wrap;
}

.footer_upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_upper_left {
    width: 50%;
}

.logo {
    width: 18vw;
}

.logo img {
    width: 100%;
    height: 100%;
}

.footer_upper_left_para {
    width: 60%;
    color: var(--secondary-color);
    padding-top: 1vw;
    font-size: 1.4vw;
    font-family: var(--para-font);
    line-height: 1.4;
}

.footer_upper_right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_time_box {
    background-color: var(--secondary-color);
    width: 70%;
    height: 100%;
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
}


.footer_time_opening {
    font-size: 2vw;
    font-weight: var(--normal);
}

.timing_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    margin:  0 auto;
}

.time {
    font-size: 1.4vw;
    line-height: 1.3;
    font-family: var(--para-font);
    width: 35%;
}

.time:nth-child(2) {
    text-align: end;
}

.footer_middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    padding: 6vw 0;
}

.foot_m {
    width: 25%;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.footer_middle_title {
    font-size: 2vw;
    font-weight: var(--normal);
    padding-bottom: 1vw;
}

.footer_link {
    color: var(--secondary-color);
    font-size: 1.2vw;
    font-family: var(--para-font);
}

.flast {
    color: var(--medium-white);
}

.footer_bottom {
    text-align: center;
    width: 100%;
    color: var(--medium-white);
}

.copyright {
    font-family: var(--para-font);
    border-bottom: 1px solid rgba(238, 238, 238, 0.3);
    padding-bottom: 2vw;
    font-size: 1.1vw;
}

.made_by {
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    gap: 1.5vw;
    color: var(--yellow-color);
}

.made_by img {
    width: 4vw;
    height: 4vw;
}

/* FOOTER SECTION ENDS ********************************************************************** */